@model ItensPedidoViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/consulta.css" />

<br />
<h1>Escolha a quantidade de itens do Produto</h1>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AlterarQuantidade">
            <input asp-for="Id" hidden />
            <img id="imgPreview" src="data:image/jpeg;base64,@Model.Produto.ImagemEmBase64"
                 class="img-responsive" width="200" height="200">
            <br />
            <br />
            <strong>@Model.Produto.NomeProduto (R$ @Model.Produto.PrecoProduto) - @Model.Produto.DescricaoProduto</strong>
            <br />
            <br />
            Quantidade:
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input asp-for="Quantidade" class="form-control" />
                </div>
            </div>
            <br />
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>
<br />
<br />
<br />