@model ProdutoViewModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/required.css" />

<br />
@if (ViewBag.Operacao == "I")
{ 
    <h2>Cadastro do Produto</h2>    
}
else { 
    <h2>Dados do Produto</h2>
}
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" enctype="multipart/form-data">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input asp-for="Id" class="form-control" type="hidden" />

            <label for="NomeProduto" class="control-label">Nome</label><span id="obg"> *</span>
            <input asp-for="NomeProduto" class="form-control col-md-6" />
            <span asp-validation-for="NomeProduto" class="text-danger"></span>

            <br />
            <label class="control-label">Foto </label>
            <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
            <br />
            <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive"
                 width="100">
            <span asp-validation-for="Imagem" class="text-danger"></span>

            <br />
            <label for="DescricaoProduto" class="control-label">Descrição </label>
            <input asp-for="DescricaoProduto" class="form-control col-md-6" />
            <span asp-validation-for="DescricaoProduto" class="text-danger"></span>

            <br />
            <label for="PrecoProduto" class="control-label">Preço</label><span id="obg"> *</span>
            <input asp-for="PrecoProduto" class="form-control col-md-6" />
            <span asp-validation-for="PrecoProduto" class="text-danger"></span>

            <br />
            <label for="EstoqueProduto" class="control-label">Quantidade de Estoque </label>
            <input asp-for="EstoqueProduto" class="form-control col-md-6" />
            <span asp-validation-for="EstoqueProduto" class="text-danger"></span>

            <br />
            <label class="control-label">Fornecedor</label><span id="obg"> *</span>
            <select asp-for="IDFornecedor" asp-items="ViewBag.Fornecedores" class="form-control"> </select>

            <br />
            <input type="submit" value="Salvar dados" class="btn btn-success" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>

<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>