@model List<ProdutoViewModel>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/consulta.css" />

<br />
<h1>Listagem de Produtos</h1>
<br />
<a href="/Produto/create" class="btn btn-secondary">Novo Registro</a>
<br />
<br />
<br />
<table class="table table-striped col-md-12">
    <tr>
        <th>Ações</th>
        <th>Produto</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>
    @foreach (var produto in Model)
    {
<tr>
    <td>
        <a href="/Produto/Visualizar?id=@produto.Id" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
            </svg>
            &nbsp;Visualizar
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="/Produto/Edit?id=@produto.Id" class="btn btn-info">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
            </svg>
            &nbsp;Editar
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="javascript:apagarRegistro(@produto.Id, 'Produto')" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
            </svg>
            &nbsp;Apagar
        </a>
    </td>
    <td><img src="data:image/jpeg;base64,@produto.ImagemEmBase64" alt="Foto Usuário" style="width: 100px; height: 100px"></td>
    <td>@produto.NomeProduto</td>
    <td>@produto.PrecoProduto</td>
</tr>
}
</table>

<script>
    function apagarRegistro(id, controller) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = controller + '/Delete?id=' + id;
    }</script>