@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}
<h2 class="text-danger">Um erro ocorreu durante o processamento da sua requisição. </h2>
<br />
<p>
    <strong>Detalhes do erro: </strong> <code> @Model.Erro </code>
</p>