@model ItensPedidoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Escolha os itens do carrinho de compras</h2>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarCarrinho">
            <input asp-for="Id" hidden />
            <br />
            <strong>Item Pedido : @Model.Id - @Model.Id</strong>
            <br />
            <br />
            Quantidade:
            <input asp-for="Quantidade" />
            <br />
            <br />
            <input type="submit" value="Adicionar ao carrinho" class="btn btn-primary" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>