@model List<ItensPedidoViewModel>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/consulta.css" />
<script src="~/js/carrinho.js"></script>

<br />
<h1>Carrinho de Compras</h1>
<br />
<center>
    <label class="control-label">Código do Carrinho</label>
    <input id="IdCarrinho" class="form-control col-md-6" />
    <span id="alertIdCarrinho" class="text-danger"></span>
    <br />
    <button onclick="Pesquisar()" class="btn btn-secondary">Pesquisar</button>
</center>
<br />
<div class="fundo-vitrine">
    <img src="~/img/Carrinho/Carrinho.png" />
    Há @ViewBag.TotalCarrinho itens no carrinho.
    <a href="/Carrinho/Visualizar">Visualizar</a>
</div>
<br />
<br />
<div class="fundo-vitrine">
    <ul class="ul-vitrine">
        @foreach (var itensPedido in Model)
        {
<li class="li-vitrine">
    <a href="/Carrinho/Detalhes/?itensPedido=@itensPedido.Id" class="btn btn-info"></a>
</li>
        }
    </ul>
</div>

@section Styles {
    <link href="@Url.Content("~/css/carrinho.css")" rel="stylesheet" type="text/css" />
}