@model List<ItensPedidoViewModel>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/consulta.css" />

<h1>Itens no carrinho</h1>
<br />
<table class="table table-striped col-md-12">
    <tr>
        <th>Item</th>
        <th>Quantidade</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td><img src="data:image/jpeg;base64,@item.Produto.ImagemEmBase64" alt="Foto Produto" style="width: 100px; height: 100px"> @item.Produto.NomeProduto - R$ @item.Produto.PrecoProduto</td>
    <td>@item.Quantidade</td>
</tr>}
</table>
<br />
<a href="/Carrinho/Index" class="btn btn-info">Retornar para as compras</a>
<br />
<br />
<a href="/Carrinho/EfetuarPedido" class="btn btn-info">Fechar pedido!!!</a>
<br />
<br />
<br />
<br />
<br />