@model UsuarioViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/required.css" />

<br />
@if (ViewBag.Operacao == "I")
{
<h2>Cadastro de Usuário</h2> }
else
{
<h2>Dados do Usuário</h2>}
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" enctype="multipart/form-data">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input asp-for="Id" class="form-control" type="hidden" />

            <label for="LoginUsuario" class="control-label">Login</label><span id="obg"> *</span>
            <input asp-for="LoginUsuario" class="form-control"/>
            <span asp-validation-for="LoginUsuario" class="text-danger"></span>

            <br />
            <label for="SenhaUsuario" class="control-label">Senha</label><span id="obg"> *</span>
            <input asp-for="SenhaUsuario" class="form-control" />
            <span asp-validation-for="SenhaUsuario" class="text-danger"></span>

            <br />
            <label class="control-label">Foto </label>
            <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()" class="btn btn-secondary">
            <br />
            <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="img-responsive"
                 width="100">
            <span asp-validation-for="Imagem" class="text-danger"></span>

            <br />
            <br />
            <label class="control-label">Perfil</label><span id="obg"> *</span>
            <select asp-for="Perfil" asp-items="ViewBag.Perfis" class="form-control"> </select>

            <br />
            <label class="control-label">Cliente</label><span id="obg"> *</span>
            <select asp-for="IDCliente" asp-items="ViewBag.Clientes" class="form-control"> </select>

            <br />
            <input type="submit" value="Salvar dados" class="btn btn-success" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>

<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>