@model FornecedorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link rel="stylesheet" href="~/css/required.css" />

<br />
@if (ViewBag.Operacao == "I")
{ 
    <h2>Cadastro do Fornecedor</h2>    
}
else { 
    <h2>Dados do Fornecedor</h2>
}
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input asp-for="Id" class="form-control" type="hidden" />

            <label for="NomeFornecedor" class="control-label">Nome</label><span id="obg"> *</span>
            <input asp-for="NomeFornecedor" class="form-control" />
            <span asp-validation-for="NomeFornecedor" class="text-danger"></span>

            <br />
            <label for="EnderecoFornecedor" class="control-label">Endereço </label>
            <input asp-for="EnderecoFornecedor" class="form-control" />
            <span asp-validation-for="EnderecoFornecedor" class="text-danger"></span>

            <br />
            <label for="EmailFornecedor" class="control-label">E-mail </label>
            <input asp-for="EmailFornecedor" class="form-control" />
            <span asp-validation-for="EmailFornecedor" class="text-danger"></span>

            <br />
            <label for="TelefoneFornecedor" class="control-label">Telefone </label>
            <input asp-for="TelefoneFornecedor" class="form-control" />
            <span asp-validation-for="TelefoneFornecedor" class="text-danger"></span>

            <br />
            <input type="submit" value="Salvar dados" class="btn btn-success" />
            <br />
            <span class="text-danger">@ViewBag.Erro</span>
        </form>
    </div>
</div>