main {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.profile {
    text-align: center;
}

    .profile img {
        border-radius: 50%;
    }

.name {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}