@model List<ProdutoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Home/home-index.css" />
<script src="~/js/Home/login.js"></script>

<main>
    <br />
    <br />
    <h1 style="font-family: 'Fresh Steak', sans-serif; font-size: 60px">SmartMart</h1>
    <br />
    &nbsp;&nbsp;&nbsp;
    <h2>A tecnologia que transforma suas compras</h2>
    <p>
        Com nossos carrinhos de compras inteligentes, você poderá realizar suas compras em poucos minutos, sem precisar se preocupar com filas ou tempo de espera.
    </p>
    <br />
</main>    