@{ ViewData["Title"] = "Sobre"; }

<link rel="stylesheet" href="~/css/consulta.css" />
<link rel="stylesheet" href="~/css/Home/home-sobre.css" />

<h1>Integrantes do Grupo</h1>
<br />
<br />
<main>
    <div class="row">
        <div class="col-sm-3">
            <div class="profile">
                <img src="~/img/Home/Danilo.jpg" class="img-responsive img-circle margin" style="width:75%">
                <br />
                <div class="name">Danilo Rodrigues Dantas</div>
                <br />
                <p>RA: 081210027</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="profile">
                <img src="~/img/Home/Lucas.png" class="img-responsive img-circle margin" style="width:75%">
                <br />
                <div class="name">Lucas Araújo dos Santos</div>
                <br />
                <p>RA: 081210009</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="profile">
                <img src="~/img/Home/Renan.jpg" class="img-responsive img-circle margin" style="width:75%">
                <br />
                <div class="name">Renan César de Araújo</div>
                <br />
                <p>RA: 081210033</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="profile">
                <img src="~/img/Home/Maik.jpg" class="img-responsive img-circle margin" style="width:75%">
                <br />
                <div class="name">Maik Soares Luiz</div>
                <br />
                <p>RA: 081210040</p>
            </div>
        </div>
    </div>
</main>
<br />
<br />
<br />